.paginaPrincipal{
    display: grid;
    grid-template-areas: "cabecera cabecera"
    "navegacion contenido"
    "piePagina piePagina";
    /* grid-template-columns: 200px calc(100% - 200px); */
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px calc(100vh - 300px) 150px;
    grid-gap: 20px;
}

.paginaPrincipal header{
    grid-area: cabecera;
    width: 100%;
    background-color:lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginaPrincipal nav{
    grid-area: navegacion;
    width: 200px;
    height: calc(100vh - 300px);
}

.paginaPrincipal article{
    grid-area: contenido;
    width: calc(100% - 200px);
    height: calc(100vh - 300px)
}
.paginaPrincipal footer{
    /*grid-area: piePagina;*/
    width: 100%;
    background-color:lightblue;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}